<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>class</key>
	<dict>
		<key>barbarian</key>
		<dict>
			<key>name</key>
			<string>Bárbaro</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primaria</string>
				<key>secondary</key>
				<string>Secundaria</string>
				<key>defensive</key>
				<string>Defensiva</string>
				<key>might</key>
				<string>Poderío</string>
				<key>tactics</key>
				<string>Tácticas</string>
				<key>rage</key>
				<string>Ira</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Furia</string>
			</array>
		</dict>
		<key>crusader</key>
		<dict>
			<key>name</key>
			<string>Guerrero Divino</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primaria</string>
				<key>secondary</key>
				<string>Secundaria</string>
				<key>defensive</key>
				<string>Defensiva</string>
				<key>utility</key>
				<string>Utilidad</string>
				<key>laws</key>
				<string>Leyes</string>
				<key>conviction</key>
				<string>Convicción</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Ira</string>
			</array>
		</dict>
		<key>demon-hunter</key>
		<dict>
			<key>name</key>
			<string>Cazadora de Demonios </string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primaria</string>
				<key>secondary</key>
				<string>Secundaria</string>
				<key>defensive</key>
				<string>Defensiva</string>
				<key>archery</key>
				<string>Arquería</string>
				<key>hunting</key>
				<string>Caza</string>
				<key>devices</key>
				<string>Artefactos</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Odio</string>
				<string>Disciplina</string>
			</array>
		</dict>
		<key>monk</key>
		<dict>
			<key>name</key>
			<string>Monje</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primaria</string>
				<key>secondary</key>
				<string>Secundaria</string>
				<key>defensive</key>
				<string>Defensiva</string>
				<key>techniques</key>
				<string>Técnicas</string>
				<key>focus</key>
				<string>Concentración</string>
				<key>mantras</key>
				<string>Mantras</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Espíritu</string>
			</array>
		</dict>
		<key>witch-doctor</key>
		<dict>
			<key>name</key>
			<string>Santero</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primaria</string>
				<key>secondary</key>
				<string>Secundaria</string>
				<key>defensive</key>
				<string>Defensiva</string>
				<key>terror</key>
				<string>Terror</string>
				<key>decay</key>
				<string>Deterioro</string>
				<key>voodoo</key>
				<string>Vudú</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Maná</string>
			</array>
		</dict>
		<key>wizard</key>
		<dict>
			<key>name</key>
			<string>Arcanista</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primaria</string>
				<key>secondary</key>
				<string>Secundaria</string>
				<key>defensive</key>
				<string>Defensiva</string>
				<key>force</key>
				<string>Poder</string>
				<key>conjuration</key>
				<string>Conjuro</string>
				<key>mastery</key>
				<string>Maestría</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Poder Arcano</string>
			</array>
		</dict>
	</dict>
	<key>stats</key>
	<dict>
		<key>life</key>
		<string>Vida</string>
		<key>damage</key>
		<string>Daño</string>
		<key>toughness</key>
		<string>Dureza</string>
		<key>healing</key>
		<string>Renovación</string>
		<key>attachSpeed</key>
		<string>Attacks per Second</string>
		<key>armor</key>
		<string>Armor</string>
		<key>strength</key>
		<string>Fuerza</string>
		<key>dexterity</key>
		<string>Destreza</string>
		<key>vitality</key>
		<string>Vitalidad</string>
		<key>intelligence</key>
		<string>Inteligencia</string>
		<key>physicalResist</key>
		<string>Physical Resistance</string>
		<key>fireResist</key>
		<string>Fire Resistance</string>
		<key>coldResist</key>
		<string>Cold Resistance</string>
		<key>lightningResist</key>
		<string>Lightning Resistance</string>
		<key>poisonResist</key>
		<string>Poison Resistance</string>
		<key>arcaneResist</key>
		<string>Arcane Resistance</string>
		<key>critDamage</key>
		<string>Critical Hit Damage</string>
		<key>blockChance</key>
		<string>Chance to Block</string>
		<key>blockAmountMin</key>
		<string>Minmum Block Amount</string>
		<key>blockAmountMax</key>
		<string>Maximum Block Amount</string>
		<key>damageIncrease</key>
		<string>Damage Increase</string>
		<key>critChance</key>
		<string>Critical Hit Chance</string>
		<key>damageReduction</key>
		<string>Damage Reduction</string>
		<key>thorns</key>
		<string>Damage of Thorns</string>
		<key>lifeSteal</key>
		<string>Life Steal</string>
		<key>lifePerKill</key>
		<string>Life after Each Kill</string>
		<key>goldFind</key>
		<string>Gold Find Rate</string>
		<key>magicFind</key>
		<string>Magic Item Find Rate</string>
		<key>lifeOnHit</key>
		<string>Life on Hit</string>
		<key>primaryResource</key>
		<string>Primaria Resource</string>
		<key>secondaryResource</key>
		<string>Secundaria Resource</string>
	</dict>
	<key>attributesTitle</key>
	<string>Atributos</string>
	<key>statsTitle</key>
	<string>Estadísticas</string>
	<key>activeSkillsTitle</key>
	<string>Habilidades activas</string>
	<key>passiveSkillsTitle</key>
	<string>Habilidades pasivas</string>
</dict>
</plist>
