<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Path</key>
	<dict>
		<key>CareerProfile</key>
		<string>/d3/profile/&lt;battletag&gt;/</string>
		<key>HeroProfile</key>
		<string>/d3/profile/&lt;battletag&gt;/hero/&lt;id&gt;</string>
	</dict>
	<key>RegionsLocales</key>
	<array>
		<dict>
			<key>Region</key>
			<string>US</string>
			<key>Locales</key>
			<array>
				<string>en_US</string>
				<string>pt_BR</string>
				<string>es_MX</string>
			</array>
		</dict>
		<dict>
			<key>Region</key>
			<string>EU</string>
			<key>Locales</key>
			<array>
				<string>en_GB</string>
				<string>de_DE</string>
				<string>es_ES</string>
				<string>fr_FR</string>
				<string>it_IT</string>
				<string>pl_PL</string>
				<string>pt_PT</string>
				<string>ru_RU</string>
			</array>
		</dict>
		<dict>
			<key>Region</key>
			<string>KR</string>
			<key>Locales</key>
			<array>
				<string>ko_KR</string>
			</array>
		</dict>
		<dict>
			<key>Region</key>
			<string>TW</string>
			<key>Locales</key>
			<array>
				<string>zh_TW</string>
			</array>
		</dict>
		<dict>
			<key>Region</key>
			<string>CN</string>
			<key>Locales</key>
			<array>
				<string>zh_CN</string>
			</array>
		</dict>
	</array>
	<key>LanguageCodeMatching</key>
	<dict>
		<key>en_US</key>
		<string>Base</string>
		<key>zh_CN</key>
		<string>zh-Hans</string>
		<key>zh_TW</key>
		<string>zh-Hant</string>
		<key>ko_KR</key>
		<string>ko</string>
		<key>pt_BR</key>
		<string>pt-BR</string>
		<key>es_MX</key>
		<string>es-MX</string>
		<key>en_GB</key>
		<string>en</string>
		<key>de_DE</key>
		<string>de</string>
		<key>es_ES</key>
		<string>es</string>
		<key>fr_FR</key>
		<string>fr</string>
		<key>it_IT</key>
		<string>it</string>
		<key>pl_PL</key>
		<string>pl</string>
		<key>pt_PT</key>
		<string>pt-PT</string>
		<key>ru_RU</key>
		<string>ru</string>
	</dict>
	<key>Host</key>
	<dict>
		<key>CN</key>
		<string>api.battlenet.com.cn</string>
		<key>US</key>
		<string>us.api.battle.net</string>
		<key>EU</key>
		<string>eu.api.battle.net</string>
		<key>KR</key>
		<string>kr.api.battle.net</string>
		<key>TW</key>
		<string>tw.api.battle.net</string>
	</dict>
	<key>Scheme</key>
	<string>https</string>
	<key>API_Key</key>
	<string>4mrzpmrs9nna8rvdp358bazrq4ed5v6w</string>
	<key>API_Secret</key>
	<string>8WNkPfJKsJ4gH27B7VryKdG4B8Umh5Aq</string>
</dict>
</plist>
