<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>class</key>
	<dict>
		<key>barbarian</key>
		<dict>
			<key>name</key>
			<string>Barbar</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primär</string>
				<key>secondary</key>
				<string>Sekundär</string>
				<key>defensive</key>
				<string>Verteidigung</string>
				<key>might</key>
				<string>Macht</string>
				<key>tactics</key>
				<string>Taktik</string>
				<key>rage</key>
				<string>Wut</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Wut</string>
			</array>
		</dict>
		<key>crusader</key>
		<dict>
			<key>name</key>
			<string>Kreuzritter</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primär</string>
				<key>secondary</key>
				<string>Sekundär</string>
				<key>defensive</key>
				<string>Verteidigung</string>
				<key>utility</key>
				<string>Unterstützung</string>
				<key>laws</key>
				<string>Gebote</string>
				<key>conviction</key>
				<string>Hingabe</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Zorn</string>
			</array>
		</dict>
		<key>demon-hunter</key>
		<dict>
			<key>name</key>
			<string>Dämonenjägerin</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primär</string>
				<key>secondary</key>
				<string>Sekundär</string>
				<key>defensive</key>
				<string>Verteidigung</string>
				<key>archery</key>
				<string>Bogenschießen</string>
				<key>hunting</key>
				<string>Jagd</string>
				<key>devices</key>
				<string>Gerätschaften</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Hass</string>
				<string>Disziplin</string>
			</array>
		</dict>
		<key>monk</key>
		<dict>
			<key>name</key>
			<string>Mönch</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primär</string>
				<key>secondary</key>
				<string>Sekundär</string>
				<key>defensive</key>
				<string>Verteidigung</string>
				<key>techniques</key>
				<string>Techniken</string>
				<key>focus</key>
				<string>Fokus</string>
				<key>mantras</key>
				<string>Mantras</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Geisteskraft</string>
			</array>
		</dict>
		<key>witch-doctor</key>
		<dict>
			<key>name</key>
			<string>Hexendoktor</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primär</string>
				<key>secondary</key>
				<string>Sekundär</string>
				<key>defensive</key>
				<string>Verteidigung</string>
				<key>terror</key>
				<string>Terror</string>
				<key>decay</key>
				<string>Verfall</string>
				<key>voodoo</key>
				<string>Voodoo</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Mana</string>
			</array>
		</dict>
		<key>wizard</key>
		<dict>
			<key>name</key>
			<string>Zauberin</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primär</string>
				<key>secondary</key>
				<string>Sekundär</string>
				<key>defensive</key>
				<string>Verteidigung</string>
				<key>force</key>
				<string>Macht</string>
				<key>conjuration</key>
				<string>Beschwörung</string>
				<key>mastery</key>
				<string>Beherrschung</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Arkankraft</string>
			</array>
		</dict>
	</dict>
	<key>stats</key>
	<dict>
		<key>life</key>
		<string>Leben</string>
		<key>damage</key>
		<string>Schaden</string>
		<key>toughness</key>
		<string>Zähigkeit</string>
		<key>healing</key>
		<string>Erholung</string>
		<key>attachSpeed</key>
		<string>Attacks per Second</string>
		<key>armor</key>
		<string>Armor</string>
		<key>strength</key>
		<string>Stärke</string>
		<key>dexterity</key>
		<string>Geschicklichkeit</string>
		<key>vitality</key>
		<string>Vitalität</string>
		<key>intelligence</key>
		<string>Intelligenz</string>
		<key>physicalResist</key>
		<string>Physical Resistance</string>
		<key>fireResist</key>
		<string>Fire Resistance</string>
		<key>coldResist</key>
		<string>Cold Resistance</string>
		<key>lightningResist</key>
		<string>Lightning Resistance</string>
		<key>poisonResist</key>
		<string>Poison Resistance</string>
		<key>arcaneResist</key>
		<string>Arcane Resistance</string>
		<key>critDamage</key>
		<string>Critical Hit Damage</string>
		<key>blockChance</key>
		<string>Chance to Block</string>
		<key>blockAmountMin</key>
		<string>Minmum Block Amount</string>
		<key>blockAmountMax</key>
		<string>Maximum Block Amount</string>
		<key>damageIncrease</key>
		<string>Damage Increase</string>
		<key>critChance</key>
		<string>Critical Hit Chance</string>
		<key>damageReduction</key>
		<string>Damage Reduction</string>
		<key>thorns</key>
		<string>Damage of Thorns</string>
		<key>lifeSteal</key>
		<string>Life Steal</string>
		<key>lifePerKill</key>
		<string>Life after Each Kill</string>
		<key>goldFind</key>
		<string>Gold Find Rate</string>
		<key>magicFind</key>
		<string>Magic Item Find Rate</string>
		<key>lifeOnHit</key>
		<string>Life on Hit</string>
		<key>primaryResource</key>
		<string>Primär Resource</string>
		<key>secondaryResource</key>
		<string>Sekundär Resource</string>
	</dict>
	<key>attributesTitle</key>
	<string>Attribute</string>
	<key>statsTitle</key>
	<string>Werte</string>
	<key>activeSkillsTitle</key>
	<string>Aktive Fertigkeiten</string>
	<key>passiveSkillsTitle</key>
	<string>Passive Fertigkeiten</string>
	<key>itemSlot</key>
	<dict>
		<key>head</key>
		<string>Kopf</string>
		<key>shoulders</key>
		<string>Schultern</string>
		<key>torso</key>
		<string>Körper</string>
		<key>neck</key>
		<string>Hals</string>
		<key>hands</key>
		<string>Hände</string>
		<key>waist</key>
		<string>Hüfte</string>
		<key>bracers</key>
		<string>Handgelenke</string>
		<key>leftFinger</key>
		<string>Finger</string>
		<key>rightFinger</key>
		<string>Finger</string>
		<key>legs</key>
		<string>Beine</string>
		<key>feet</key>
		<string>Füße</string>
		<key>mainHand</key>
		<string>Haupthand</string>
		<key>offHand</key>
		<string>Nebenhand</string>
	</dict>
	<key>itemSet</key>
	<string>(&lt;required&gt;) Set:</string>
	<key>primaryAttribute</key>
	<string>Primär</string>
	<key>secondaryAttribute</key>
	<string>Sekundär</string>
	<key>itemLevel</key>
	<string>Gegenstandsstufe: &lt;lv&gt;</string>
	<key>requiredLevel</key>
	<string>Benötigte Stufe: &lt;lv&gt;</string>
	<key>accountBound</key>
	<string>Accountgebunden</string>
	<key>damagePerSecond</key>
	<string>Schaden pro Sekunde</string>
	<key>armor</key>
	<string>Rüstung</string>
	<key>blockAmount</key>
	<string>&lt;min&gt;-&lt;max&gt; Blockwert</string>
</dict>
</plist>
