<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>class</key>
	<dict>
		<key>barbarian</key>
		<dict>
			<key>name</key>
			<string>Barbare</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primaires</string>
				<key>secondary</key>
				<string>Secondaires</string>
				<key>defensive</key>
				<string>Défensives</string>
				<key>might</key>
				<string>Puissance</string>
				<key>tactics</key>
				<string>Tactiques</string>
				<key>rage</key>
				<string>Rage</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Fureur</string>
			</array>
		</dict>
		<key>crusader</key>
		<dict>
			<key>name</key>
			<string>Croisés</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primaires</string>
				<key>secondary</key>
				<string>Secondaires</string>
				<key>defensive</key>
				<string>Défensives</string>
				<key>utility</key>
				<string>Utilitaires</string>
				<key>laws</key>
				<string>Lois</string>
				<key>conviction</key>
				<string>Sentence</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Colère </string>
			</array>
		</dict>
		<key>demon-hunter</key>
		<dict>
			<key>name</key>
			<string>Chasseuse de Démons</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primaires</string>
				<key>secondary</key>
				<string>Secondaires</string>
				<key>defensive</key>
				<string>Défensives</string>
				<key>archery</key>
				<string>Archerie</string>
				<key>hunting</key>
				<string>Chasse</string>
				<key>devices</key>
				<string>Pièges</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Haine</string>
				<string>Discipline</string>
			</array>
		</dict>
		<key>monk</key>
		<dict>
			<key>name</key>
			<string>Moine</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primaires</string>
				<key>secondary</key>
				<string>Secondaires</string>
				<key>defensive</key>
				<string>Défensives</string>
				<key>techniques</key>
				<string>Techniques</string>
				<key>focus</key>
				<string>Concentration</string>
				<key>mantras</key>
				<string>Mantras</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Esprit</string>
			</array>
		</dict>
		<key>witch-doctor</key>
		<dict>
			<key>name</key>
			<string>Féticheur</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primaires</string>
				<key>secondary</key>
				<string>Secondaires</string>
				<key>defensive</key>
				<string>Défensives</string>
				<key>terror</key>
				<string>Terreur</string>
				<key>decay</key>
				<string>Flétrissure</string>
				<key>voodoo</key>
				<string>Vaudou</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Mana</string>
			</array>
		</dict>
		<key>wizard</key>
		<dict>
			<key>name</key>
			<string>Sorcière</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primaires</string>
				<key>secondary</key>
				<string>Secondaires</string>
				<key>defensive</key>
				<string>Défensives</string>
				<key>force</key>
				<string>Force</string>
				<key>conjuration</key>
				<string>Invocation</string>
				<key>mastery</key>
				<string>Maîtrise</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Puissance Arcanique</string>
			</array>
		</dict>
	</dict>
	<key>stats</key>
	<dict>
		<key>life</key>
		<string>Vie</string>
		<key>damage</key>
		<string>Dégâts</string>
		<key>toughness</key>
		<string>Robustesse</string>
		<key>healing</key>
		<string>Récupération</string>
		<key>attachSpeed</key>
		<string>Attacks per Second</string>
		<key>armor</key>
		<string>Armor</string>
		<key>strength</key>
		<string>Force</string>
		<key>dexterity</key>
		<string>Dextérité</string>
		<key>vitality</key>
		<string>Vitalité</string>
		<key>intelligence</key>
		<string>Intelligence</string>
		<key>physicalResist</key>
		<string>Physical Resistance</string>
		<key>fireResist</key>
		<string>Fire Resistance</string>
		<key>coldResist</key>
		<string>Cold Resistance</string>
		<key>lightningResist</key>
		<string>Lightning Resistance</string>
		<key>poisonResist</key>
		<string>Poison Resistance</string>
		<key>arcaneResist</key>
		<string>Arcane Resistance</string>
		<key>critDamage</key>
		<string>Critical Hit Damage</string>
		<key>blockChance</key>
		<string>Chance to Block</string>
		<key>blockAmountMin</key>
		<string>Minmum Block Amount</string>
		<key>blockAmountMax</key>
		<string>Maximum Block Amount</string>
		<key>damageIncrease</key>
		<string>Damage Increase</string>
		<key>critChance</key>
		<string>Critical Hit Chance</string>
		<key>damageReduction</key>
		<string>Damage Reduction</string>
		<key>thorns</key>
		<string>Damage of Thorns</string>
		<key>lifeSteal</key>
		<string>Life Steal</string>
		<key>lifePerKill</key>
		<string>Life after Each Kill</string>
		<key>goldFind</key>
		<string>Gold Find Rate</string>
		<key>magicFind</key>
		<string>Magic Item Find Rate</string>
		<key>lifeOnHit</key>
		<string>Life on Hit</string>
		<key>primaryResource</key>
		<string>Primaires Resource</string>
		<key>secondaryResource</key>
		<string>Secondaires Resource</string>
	</dict>
	<key>attributesTitle</key>
	<string>Attributs</string>
	<key>statsTitle</key>
	<string>Statistiques</string>
	<key>activeSkillsTitle</key>
	<string>Compétences actives</string>
	<key>passiveSkillsTitle</key>
	<string>Compétences passives</string>
</dict>
</plist>
