<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>searchButtonTitle</key>
	<string>搜尋</string>
	<key>battleTagPlaceholder</key>
	<string>請輸入BattleTag，例如Blizzard#1234</string>
	<key>heroListTitle</key>
	<string>英雄名單</string>
	<key>tabGeneral</key>
	<string>一般</string>
	<key>tabEquipment</key>
	<string>裝備</string>
</dict>
</plist>
