<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>class</key>
	<dict>
		<key>barbarian</key>
		<dict>
			<key>name</key>
			<string>Bapbap</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Основное</string>
				<key>secondary</key>
				<string>Вспомогательное</string>
				<key>defensive</key>
				<string>Защита</string>
				<key>might</key>
				<string>Сила</string>
				<key>tactics</key>
				<string>Тактика</string>
				<key>rage</key>
				<string>Ярость</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Ярость</string>
			</array>
		</dict>
		<key>crusader</key>
		<dict>
			<key>name</key>
			<string>Крестоносeц</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Основное</string>
				<key>secondary</key>
				<string>Вспомогательное</string>
				<key>defensive</key>
				<string>Защита</string>
				<key>utility</key>
				<string>Поддержка</string>
				<key>laws</key>
				<string>Принципы</string>
				<key>conviction</key>
				<string>Суд</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Гнев</string>
			</array>
		</dict>
		<key>demon-hunter</key>
		<dict>
			<key>name</key>
			<string>Охотник на Демонов</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Основное</string>
				<key>secondary</key>
				<string>Вспомогательное</string>
				<key>defensive</key>
				<string>Защита</string>
				<key>archery</key>
				<string>Стрельба</string>
				<key>hunting</key>
				<string>Выслеживание</string>
				<key>devices</key>
				<string>Приспособления</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Ненависть</string>
				<string>Концентрация</string>
			</array>
		</dict>
		<key>monk</key>
		<dict>
			<key>name</key>
			<string>Монах</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Основное</string>
				<key>secondary</key>
				<string>Вспомогательное</string>
				<key>defensive</key>
				<string>Защита</string>
				<key>techniques</key>
				<string>Приемы</string>
				<key>focus</key>
				<string>Сосредоточенность</string>
				<key>mantras</key>
				<string>Мантры</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Дух</string>
			</array>
		</dict>
		<key>witch-doctor</key>
		<dict>
			<key>name</key>
			<string>Колдун</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Основное</string>
				<key>secondary</key>
				<string>Вспомогательное</string>
				<key>defensive</key>
				<string>Защита</string>
				<key>terror</key>
				<string>Устрашение</string>
				<key>decay</key>
				<string>Разложение</string>
				<key>voodoo</key>
				<string>Вудуизм</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Мана</string>
			</array>
		</dict>
		<key>wizard</key>
		<dict>
			<key>name</key>
			<string>Чародейka</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Основное</string>
				<key>secondary</key>
				<string>Вспомогательное</string>
				<key>defensive</key>
				<string>Защита</string>
				<key>force</key>
				<string>Сила</string>
				<key>conjuration</key>
				<string>Чары</string>
				<key>mastery</key>
				<string>Искусность</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Магическая Энергия</string>
			</array>
		</dict>
	</dict>
	<key>stats</key>
	<dict>
		<key>life</key>
		<string>Здоровье</string>
		<key>damage</key>
		<string>Урон</string>
		<key>toughness</key>
		<string>Стойкость</string>
		<key>healing</key>
		<string>Восстановление</string>
		<key>attachSpeed</key>
		<string>Attacks per Second</string>
		<key>armor</key>
		<string>Armor</string>
		<key>strength</key>
		<string>Сила</string>
		<key>dexterity</key>
		<string>Ловкость</string>
		<key>vitality</key>
		<string>Живучесть</string>
		<key>intelligence</key>
		<string>Интеллект</string>
		<key>physicalResist</key>
		<string>Physical Resistance</string>
		<key>fireResist</key>
		<string>Fire Resistance</string>
		<key>coldResist</key>
		<string>Cold Resistance</string>
		<key>lightningResist</key>
		<string>Lightning Resistance</string>
		<key>poisonResist</key>
		<string>Poison Resistance</string>
		<key>arcaneResist</key>
		<string>Arcane Resistance</string>
		<key>critDamage</key>
		<string>Critical Hit Damage</string>
		<key>blockChance</key>
		<string>Chance to Block</string>
		<key>blockAmountMin</key>
		<string>Minmum Block Amount</string>
		<key>blockAmountMax</key>
		<string>Maximum Block Amount</string>
		<key>damageIncrease</key>
		<string>Damage Increase</string>
		<key>critChance</key>
		<string>Critical Hit Chance</string>
		<key>damageReduction</key>
		<string>Damage Reduction</string>
		<key>thorns</key>
		<string>Damage of Thorns</string>
		<key>lifeSteal</key>
		<string>Life Steal</string>
		<key>lifePerKill</key>
		<string>Life after Each Kill</string>
		<key>goldFind</key>
		<string>Gold Find Rate</string>
		<key>magicFind</key>
		<string>Magic Item Find Rate</string>
		<key>lifeOnHit</key>
		<string>Life on Hit</string>
		<key>primaryResource</key>
		<string>Основное Resource</string>
		<key>secondaryResource</key>
		<string>Вспомогательное Resource</string>
	</dict>
	<key>attributesTitle</key>
	<string>Характеристики</string>
	<key>statsTitle</key>
	<string>Показатели</string>
	<key>activeSkillsTitle</key>
	<string>Активные умения</string>
	<key>passiveSkillsTitle</key>
	<string>Пассивные умения</string>
</dict>
</plist>
