<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>searchButtonTitle</key>
	<string>Поиск</string>
	<key>battleTagPlaceholder</key>
	<string>Введите BattleTag, аналогичные Blizzard#1234</string>
	<key>heroListTitle</key>
	<string>Cписка Персонажей</string>
</dict>
</plist>
