<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>class</key>
	<dict>
		<key>barbarian</key>
		<dict>
			<key>name</key>
			<string>Barbaro</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primarie</string>
				<key>secondary</key>
				<string>Secondarie</string>
				<key>defensive</key>
				<string>Difensive</string>
				<key>might</key>
				<string>Potenza</string>
				<key>tactics</key>
				<string>Tattica</string>
				<key>rage</key>
				<string>Ira</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Furia</string>
			</array>
		</dict>
		<key>crusader</key>
		<dict>
			<key>name</key>
			<string>Crociato</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primarie</string>
				<key>secondary</key>
				<string>Secondarie</string>
				<key>defensive</key>
				<string>Difensive</string>
				<key>utility</key>
				<string>Utilità</string>
				<key>laws</key>
				<string>Leggi</string>
				<key>conviction</key>
				<string>Condanna</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Della Collera</string>
			</array>
		</dict>
		<key>demon-hunter</key>
		<dict>
			<key>name</key>
			<string>Cacciatrice di Demoni</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primarie</string>
				<key>secondary</key>
				<string>Secondarie</string>
				<key>defensive</key>
				<string>Difensive</string>
				<key>archery</key>
				<string>Arcieria</string>
				<key>hunting</key>
				<string>Caccia</string>
				<key>devices</key>
				<string>Congegni</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Odio</string>
				<string>Disciplina</string>
			</array>
		</dict>
		<key>monk</key>
		<dict>
			<key>name</key>
			<string>Monaco</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primarie</string>
				<key>secondary</key>
				<string>Secondarie</string>
				<key>defensive</key>
				<string>Difensive</string>
				<key>techniques</key>
				<string>Tecniche</string>
				<key>focus</key>
				<string>Focalizzazione</string>
				<key>mantras</key>
				<string>Mantra</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Spirito</string>
			</array>
		</dict>
		<key>witch-doctor</key>
		<dict>
			<key>name</key>
			<string>Sciamano</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primarie</string>
				<key>secondary</key>
				<string>Secondarie</string>
				<key>defensive</key>
				<string>Difensive</string>
				<key>terror</key>
				<string>Terrore</string>
				<key>decay</key>
				<string>Deperimento</string>
				<key>voodoo</key>
				<string>Vudù</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Mana</string>
			</array>
		</dict>
		<key>wizard</key>
		<dict>
			<key>name</key>
			<string>Maga</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primarie</string>
				<key>secondary</key>
				<string>Secondarie</string>
				<key>defensive</key>
				<string>Difensive</string>
				<key>force</key>
				<string>Energia</string>
				<key>conjuration</key>
				<string>Evocazione</string>
				<key>mastery</key>
				<string>Dominio</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Potere Arcano</string>
			</array>
		</dict>
	</dict>
	<key>stats</key>
	<dict>
		<key>life</key>
		<string>Vita</string>
		<key>damage</key>
		<string>Danni</string>
		<key>toughness</key>
		<string>Tempra</string>
		<key>healing</key>
		<string>Recupero</string>
		<key>attachSpeed</key>
		<string>Attacks per Second</string>
		<key>armor</key>
		<string>Armor</string>
		<key>strength</key>
		<string>Forza</string>
		<key>dexterity</key>
		<string>Destrezza</string>
		<key>vitality</key>
		<string>Vitalità</string>
		<key>intelligence</key>
		<string>Intelligenza</string>
		<key>physicalResist</key>
		<string>Physical Resistance</string>
		<key>fireResist</key>
		<string>Fire Resistance</string>
		<key>coldResist</key>
		<string>Cold Resistance</string>
		<key>lightningResist</key>
		<string>Lightning Resistance</string>
		<key>poisonResist</key>
		<string>Poison Resistance</string>
		<key>arcaneResist</key>
		<string>Arcane Resistance</string>
		<key>critDamage</key>
		<string>Critical Hit Damage</string>
		<key>blockChance</key>
		<string>Chance to Block</string>
		<key>blockAmountMin</key>
		<string>Minmum Block Amount</string>
		<key>blockAmountMax</key>
		<string>Maximum Block Amount</string>
		<key>damageIncrease</key>
		<string>Damage Increase</string>
		<key>critChance</key>
		<string>Critical Hit Chance</string>
		<key>damageReduction</key>
		<string>Damage Reduction</string>
		<key>thorns</key>
		<string>Damage of Thorns</string>
		<key>lifeSteal</key>
		<string>Life Steal</string>
		<key>lifePerKill</key>
		<string>Life after Each Kill</string>
		<key>goldFind</key>
		<string>Gold Find Rate</string>
		<key>magicFind</key>
		<string>Magic Item Find Rate</string>
		<key>lifeOnHit</key>
		<string>Life on Hit</string>
		<key>primaryResource</key>
		<string>Primarie Resource</string>
		<key>secondaryResource</key>
		<string>Secondarie Resource</string>
	</dict>
	<key>attributesTitle</key>
	<string>Caratteristiche</string>
	<key>statsTitle</key>
	<string>Statistiche</string>
	<key>activeSkillsTitle</key>
	<string>Abilità attive</string>
	<key>passiveSkillsTitle</key>
	<string>Abilità passive</string>
</dict>
</plist>
