<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>class</key>
	<dict>
		<key>barbarian</key>
		<dict>
			<key>name</key>
			<string>야만용사</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>주 기술</string>
				<key>secondary</key>
				<string>보조 기술</string>
				<key>defensive</key>
				<string>방어</string>
				<key>might</key>
				<string>무력</string>
				<key>tactics</key>
				<string>전술</string>
				<key>rage</key>
				<string>격노</string>
			</dict>
			<key>resource</key>
			<array>
				<string>분노</string>
			</array>
		</dict>
		<key>crusader</key>
		<dict>
			<key>name</key>
			<string>성전사</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>주 기술</string>
				<key>secondary</key>
				<string>보조 기술</string>
				<key>defensive</key>
				<string>방어</string>
				<key>utility</key>
				<string>지원</string>
				<key>laws</key>
				<string>율법</string>
				<key>conviction</key>
				<string>신념</string>
			</dict>
			<key>resource</key>
			<array>
				<string>진노</string>
			</array>
		</dict>
		<key>demon-hunter</key>
		<dict>
			<key>name</key>
			<string>악마사냥꾼</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>주 기술</string>
				<key>secondary</key>
				<string>보조 기술</string>
				<key>defensive</key>
				<string>방어</string>
				<key>archery</key>
				<string>궁술</string>
				<key>hunting</key>
				<string>사냥</string>
				<key>devices</key>
				<string>장치</string>
			</dict>
			<key>resource</key>
			<array>
				<string>증오</string>
				<string>절제</string>
			</array>
		</dict>
		<key>monk</key>
		<dict>
			<key>name</key>
			<string>수도사</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>주 기술</string>
				<key>secondary</key>
				<string>보조 기술</string>
				<key>defensive</key>
				<string>방어</string>
				<key>techniques</key>
				<string>무예</string>
				<key>focus</key>
				<string>집중</string>
				<key>mantras</key>
				<string>진언</string>
			</dict>
			<key>resource</key>
			<array>
				<string>공력</string>
			</array>
		</dict>
		<key>witch-doctor</key>
		<dict>
			<key>name</key>
			<string>부두술사</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>주 기술</string>
				<key>secondary</key>
				<string>보조 기술</string>
				<key>defensive</key>
				<string>방어</string>
				<key>terror</key>
				<string>공황</string>
				<key>decay</key>
				<string>부패</string>
				<key>voodoo</key>
				<string>부두</string>
			</dict>
			<key>resource</key>
			<array>
				<string>마나</string>
			</array>
		</dict>
		<key>wizard</key>
		<dict>
			<key>name</key>
			<string>마법사</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>주 기술</string>
				<key>secondary</key>
				<string>보조 기술</string>
				<key>defensive</key>
				<string>방어</string>
				<key>force</key>
				<string>위력</string>
				<key>conjuration</key>
				<string>창조</string>
				<key>mastery</key>
				<string>통달</string>
			</dict>
			<key>resource</key>
			<array>
				<string>비전력</string>
			</array>
		</dict>
	</dict>
	<key>stats</key>
	<dict>
		<key>life</key>
		<string>생명력</string>
		<key>damage</key>
		<string>공격력</string>
		<key>toughness</key>
		<string>강인함</string>
		<key>healing</key>
		<string>회복력</string>
		<key>attachSpeed</key>
		<string>Attacks per Second</string>
		<key>armor</key>
		<string>Armor</string>
		<key>strength</key>
		<string>힘</string>
		<key>dexterity</key>
		<string>민첩</string>
		<key>vitality</key>
		<string>활력</string>
		<key>intelligence</key>
		<string>지능</string>
		<key>physicalResist</key>
		<string>Physical Resistance</string>
		<key>fireResist</key>
		<string>Fire Resistance</string>
		<key>coldResist</key>
		<string>Cold Resistance</string>
		<key>lightningResist</key>
		<string>Lightning Resistance</string>
		<key>poisonResist</key>
		<string>Poison Resistance</string>
		<key>arcaneResist</key>
		<string>Arcane Resistance</string>
		<key>critDamage</key>
		<string>Critical Hit Damage</string>
		<key>blockChance</key>
		<string>Chance to Block</string>
		<key>blockAmountMin</key>
		<string>Minmum Block Amount</string>
		<key>blockAmountMax</key>
		<string>Maximum Block Amount</string>
		<key>damageIncrease</key>
		<string>Damage Increase</string>
		<key>critChance</key>
		<string>Critical Hit Chance</string>
		<key>damageReduction</key>
		<string>Damage Reduction</string>
		<key>thorns</key>
		<string>Damage of Thorns</string>
		<key>lifeSteal</key>
		<string>Life Steal</string>
		<key>lifePerKill</key>
		<string>Life after Each Kill</string>
		<key>goldFind</key>
		<string>Gold Find Rate</string>
		<key>magicFind</key>
		<string>Magic Item Find Rate</string>
		<key>lifeOnHit</key>
		<string>Life on Hit</string>
		<key>primaryResource</key>
		<string>주 기술 Resource</string>
		<key>secondaryResource</key>
		<string>보조 기술 Resource</string>
	</dict>
	<key>attributesTitle</key>
	<string>능력치</string>
	<key>statsTitle</key>
	<string>능력치</string>
	<key>mouseSkillsTitle</key>
	<string>마우스 기술</string>
	<key>actionBarSkillsTitle</key>
	<string>키보드 기술</string>
	<key>passiveSkillsTitle</key>
	<string>지속 기술</string>
	<key>itemSlot</key>
	<dict>
		<key>head</key>
		<string>머리</string>
		<key>shoulders</key>
		<string>어깨</string>
		<key>torso</key>
		<string>몸통</string>
		<key>neck</key>
		<string>목</string>
		<key>hands</key>
		<string>손</string>
		<key>waist</key>
		<string>허리</string>
		<key>bracers</key>
		<string>손목</string>
		<key>leftFinger</key>
		<string>손가락</string>
		<key>rightFinger</key>
		<string>손가락</string>
		<key>legs</key>
		<string>다리</string>
		<key>feet</key>
		<string>발</string>
		<key>mainHand</key>
		<string>주 장비</string>
		<key>offHand</key>
		<string>보조 장비</string>
	</dict>
	<key>itemSet</key>
	<string>(&lt;required&gt;) 세트:</string>
	<key>primaryAttribute</key>
	<string>주요 속성</string>
	<key>secondaryAttribute</key>
	<string>보조 속성</string>
	<key>itemLevel</key>
	<string>아이템 레벨: &lt;lv&gt;</string>
	<key>requiredLevel</key>
	<string>요구 레벨: &lt;lv&gt;</string>
	<key>accountBound</key>
	<string>계정 귀속</string>
	<key>damagePerSecond</key>
	<string>초당 공격력</string>
	<key>armor</key>
	<string>방어도</string>
	<key>blockAmount</key>
	<string>&lt;min&gt;-&lt;max&gt; 방패 방어량</string>
</dict>
</plist>
