<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>searchButtonTitle</key>
	<string>검색</string>
	<key>battleTagPlaceholder</key>
	<string>BattleTag 입력, Blizzard#1234 같은</string>
	<key>heroListTitle</key>
	<string>영웅 목록</string>
</dict>
</plist>
