<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>class</key>
	<dict>
		<key>barbarian</key>
		<dict>
			<key>name</key>
			<string>Barbarzyńca</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Podstawowe</string>
				<key>secondary</key>
				<string>Dodatkowe</string>
				<key>defensive</key>
				<string>Obronne</string>
				<key>might</key>
				<string>Siła</string>
				<key>tactics</key>
				<string>Taktyka</string>
				<key>rage</key>
				<string>Szał</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Furia</string>
			</array>
		</dict>
		<key>crusader</key>
		<dict>
			<key>name</key>
			<string>Krzyżowiec</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Podstawowe</string>
				<key>secondary</key>
				<string>Dodatkowe</string>
				<key>defensive</key>
				<string>Obronne</string>
				<key>utility</key>
				<string>Użytkowe</string>
				<key>laws</key>
				<string>Kanony</string>
				<key>conviction</key>
				<string>Przekonanie</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Gniew</string>
			</array>
		</dict>
		<key>demon-hunter</key>
		<dict>
			<key>name</key>
			<string>Łowczyni Demonów</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Podstawowe</string>
				<key>secondary</key>
				<string>Dodatkowe</string>
				<key>defensive</key>
				<string>Obronne</string>
				<key>archery</key>
				<string>Łucznictwo</string>
				<key>hunting</key>
				<string>Łowiectwo</string>
				<key>devices</key>
				<string>Urządzenia</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Nienawiści</string>
				<string>Dyscyplina</string>
			</array>
		</dict>
		<key>monk</key>
		<dict>
			<key>name</key>
			<string>Mnich</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Podstawowe</string>
				<key>secondary</key>
				<string>Dodatkowe</string>
				<key>defensive</key>
				<string>Obronne</string>
				<key>techniques</key>
				<string>Techniki</string>
				<key>focus</key>
				<string>Koncentracja</string>
				<key>mantras</key>
				<string>Mantry</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Siła Duchowa</string>
			</array>
		</dict>
		<key>witch-doctor</key>
		<dict>
			<key>name</key>
			<string>Szaman</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Podstawowe</string>
				<key>secondary</key>
				<string>Dodatkowe</string>
				<key>defensive</key>
				<string>Obronne</string>
				<key>terror</key>
				<string>Groza</string>
				<key>decay</key>
				<string>Rozkład</string>
				<key>voodoo</key>
				<string>Voodoo</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Mana</string>
			</array>
		</dict>
		<key>wizard</key>
		<dict>
			<key>name</key>
			<string>Czarownica</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Podstawowe</string>
				<key>secondary</key>
				<string>Dodatkowe</string>
				<key>defensive</key>
				<string>Obronne</string>
				<key>force</key>
				<string>Moc</string>
				<key>conjuration</key>
				<string>Przywoływanie</string>
				<key>mastery</key>
				<string>Mistrzostwo</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Moc Tajemna</string>
			</array>
		</dict>
	</dict>
	<key>stats</key>
	<dict>
		<key>life</key>
		<string>Życie</string>
		<key>damage</key>
		<string>Obrażenia</string>
		<key>toughness</key>
		<string>Wytrzymałość</string>
		<key>healing</key>
		<string>Regeneracja</string>
		<key>attachSpeed</key>
		<string>Attacks per Second</string>
		<key>armor</key>
		<string>Armor</string>
		<key>strength</key>
		<string>Siła</string>
		<key>dexterity</key>
		<string>Zręczność</string>
		<key>vitality</key>
		<string>Witalność</string>
		<key>intelligence</key>
		<string>Inteligencja</string>
		<key>physicalResist</key>
		<string>Physical Resistance</string>
		<key>fireResist</key>
		<string>Fire Resistance</string>
		<key>coldResist</key>
		<string>Cold Resistance</string>
		<key>lightningResist</key>
		<string>Lightning Resistance</string>
		<key>poisonResist</key>
		<string>Poison Resistance</string>
		<key>arcaneResist</key>
		<string>Arcane Resistance</string>
		<key>critDamage</key>
		<string>Critical Hit Damage</string>
		<key>blockChance</key>
		<string>Chance to Block</string>
		<key>blockAmountMin</key>
		<string>Minmum Block Amount</string>
		<key>blockAmountMax</key>
		<string>Maximum Block Amount</string>
		<key>damageIncrease</key>
		<string>Damage Increase</string>
		<key>critChance</key>
		<string>Critical Hit Chance</string>
		<key>damageReduction</key>
		<string>Damage Reduction</string>
		<key>thorns</key>
		<string>Damage of Thorns</string>
		<key>lifeSteal</key>
		<string>Life Steal</string>
		<key>lifePerKill</key>
		<string>Life after Each Kill</string>
		<key>goldFind</key>
		<string>Gold Find Rate</string>
		<key>magicFind</key>
		<string>Magic Item Find Rate</string>
		<key>lifeOnHit</key>
		<string>Life on Hit</string>
		<key>primaryResource</key>
		<string>Podstawowe Resource</string>
		<key>secondaryResource</key>
		<string>Dodatkowe Resource</string>
	</dict>
	<key>attributesTitle</key>
	<string>Współczynniki</string>
	<key>statsTitle</key>
	<string>Współczynniki</string>
	<key>activeSkillsTitle</key>
	<string>Umiejętności aktywne</string>
	<key>passiveSkillsTitle</key>
	<string>Umiejętności pasywne</string>
</dict>
</plist>
