<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>class</key>
	<dict>
		<key>barbarian</key>
		<dict>
			<key>name</key>
			<string>Bárbaro</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primarias</string>
				<key>secondary</key>
				<string>Secundarias</string>
				<key>defensive</key>
				<string>Defensa</string>
				<key>might</key>
				<string>Brío</string>
				<key>tactics</key>
				<string>Táctica</string>
				<key>rage</key>
				<string>Ira</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Furia</string>
			</array>
		</dict>
		<key>crusader</key>
		<dict>
			<key>name</key>
			<string>Cruzado</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primarias</string>
				<key>secondary</key>
				<string>Secundarias</string>
				<key>defensive</key>
				<string>Defensa</string>
				<key>utility</key>
				<string>Utilidad</string>
				<key>laws</key>
				<string>Ley</string>
				<key>conviction</key>
				<string>Convicción</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Cólera</string>
			</array>
		</dict>
		<key>demon-hunter</key>
		<dict>
			<key>name</key>
			<string>Cazadora de Demonios </string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primarias</string>
				<key>secondary</key>
				<string>Secundarias</string>
				<key>defensive</key>
				<string>Defensa</string>
				<key>archery</key>
				<string>Tiro</string>
				<key>hunting</key>
				<string>Caza</string>
				<key>devices</key>
				<string>Arsenal</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Odio</string>
				<string>Disciplina</string>
			</array>
		</dict>
		<key>monk</key>
		<dict>
			<key>name</key>
			<string>Monje</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primarias</string>
				<key>secondary</key>
				<string>Secundarias</string>
				<key>defensive</key>
				<string>Defensa</string>
				<key>techniques</key>
				<string>Técnica</string>
				<key>focus</key>
				<string>Concentración</string>
				<key>mantras</key>
				<string>Mantras</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Espíritu</string>
			</array>
		</dict>
		<key>witch-doctor</key>
		<dict>
			<key>name</key>
			<string>Médicos Brujo</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primarias</string>
				<key>secondary</key>
				<string>Secundarias</string>
				<key>defensive</key>
				<string>Defensa</string>
				<key>terror</key>
				<string>Terror</string>
				<key>decay</key>
				<string>Muerte</string>
				<key>voodoo</key>
				<string>Vudú</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Maná</string>
			</array>
		</dict>
		<key>wizard</key>
		<dict>
			<key>name</key>
			<string>Maga</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primarias</string>
				<key>secondary</key>
				<string>Secundarias</string>
				<key>defensive</key>
				<string>Defensa</string>
				<key>force</key>
				<string>Hechicería</string>
				<key>conjuration</key>
				<string>Conjuración</string>
				<key>mastery</key>
				<string>Maestría</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Poder Arcano</string>
			</array>
		</dict>
	</dict>
	<key>stats</key>
	<dict>
		<key>life</key>
		<string>Vida</string>
		<key>damage</key>
		<string>Daño</string>
		<key>toughness</key>
		<string>Dureza</string>
		<key>healing</key>
		<string>Recuperación</string>
		<key>attachSpeed</key>
		<string>Attacks per Second</string>
		<key>armor</key>
		<string>Armor</string>
		<key>strength</key>
		<string>Fuerza</string>
		<key>dexterity</key>
		<string>Destreza</string>
		<key>vitality</key>
		<string>Vitalidad</string>
		<key>intelligence</key>
		<string>Inteligencia</string>
		<key>physicalResist</key>
		<string>Physical Resistance</string>
		<key>fireResist</key>
		<string>Fire Resistance</string>
		<key>coldResist</key>
		<string>Cold Resistance</string>
		<key>lightningResist</key>
		<string>Lightning Resistance</string>
		<key>poisonResist</key>
		<string>Poison Resistance</string>
		<key>arcaneResist</key>
		<string>Arcane Resistance</string>
		<key>critDamage</key>
		<string>Critical Hit Damage</string>
		<key>blockChance</key>
		<string>Chance to Block</string>
		<key>blockAmountMin</key>
		<string>Minmum Block Amount</string>
		<key>blockAmountMax</key>
		<string>Maximum Block Amount</string>
		<key>damageIncrease</key>
		<string>Damage Increase</string>
		<key>critChance</key>
		<string>Critical Hit Chance</string>
		<key>damageReduction</key>
		<string>Damage Reduction</string>
		<key>thorns</key>
		<string>Damage of Thorns</string>
		<key>lifeSteal</key>
		<string>Life Steal</string>
		<key>lifePerKill</key>
		<string>Life after Each Kill</string>
		<key>goldFind</key>
		<string>Gold Find Rate</string>
		<key>magicFind</key>
		<string>Magic Item Find Rate</string>
		<key>lifeOnHit</key>
		<string>Life on Hit</string>
		<key>primaryResource</key>
		<string>Primarias Resource</string>
		<key>secondaryResource</key>
		<string>Secundarias Resource</string>
	</dict>
	<key>attributesTitle</key>
	<string>Atributos</string>
	<key>statsTitle</key>
	<string>Estadísticas</string>
	<key>activeSkillsTitle</key>
	<string>Habilidades activas</string>
	<key>passiveSkillsTitle</key>
	<string>Habilidades pasivas</string>
	<key>itemSlot</key>
	<dict>
		<key>head</key>
		<string>Cabeza</string>
		<key>shoulders</key>
		<string>Hombros</string>
		<key>torso</key>
		<string>Torso</string>
		<key>neck</key>
		<string>Cuello</string>
		<key>hands</key>
		<string>Manos</string>
		<key>waist</key>
		<string>Cintura</string>
		<key>bracers</key>
		<string>Muñecas</string>
		<key>leftFinger</key>
		<string>Dedo</string>
		<key>rightFinger</key>
		<string>Dedo</string>
		<key>legs</key>
		<string>Piernas</string>
		<key>feet</key>
		<string>Pies</string>
		<key>mainHand</key>
		<string>Mano derecha</string>
		<key>offHand</key>
		<string>Mano izquierda</string>
	</dict>
	<key>itemSet</key>
	<string>(&lt;required&gt;) de conjunto:</string>
	<key>primaryAttribute</key>
	<string>Principal</string>
	<key>secondaryAttribute</key>
	<string>Secundario</string>
	<key>itemLevel</key>
	<string>Nivel de objeto: &lt;lv&gt;</string>
	<key>requiredLevel</key>
	<string>Nivel requerido: &lt;lv&gt;</string>
	<key>accountBound</key>
	<string>Vinculado a cuenta</string>
	<key>damagePerSecond</key>
	<string>DPS</string>
	<key>armor</key>
	<string>Armadura</string>
	<key>blockAmount</key>
	<string>&lt;min&gt;-&lt;max&gt; Valor de bloqueo</string>
</dict>
</plist>
