<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>class</key>
	<dict>
		<key>barbarian</key>
		<dict>
			<key>name</key>
			<string>野蛮人</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>主要</string>
				<key>secondary</key>
				<string>次要</string>
				<key>defensive</key>
				<string>防御</string>
				<key>might</key>
				<string>力量</string>
				<key>tactics</key>
				<string>战术</string>
				<key>rage</key>
				<string>怒火</string>
			</dict>
			<key>resource</key>
			<array>
				<string>怒气</string>
			</array>
		</dict>
		<key>crusader</key>
		<dict>
			<key>name</key>
			<string>圣教军</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>主要</string>
				<key>secondary</key>
				<string>次要</string>
				<key>defensive</key>
				<string>防御</string>
				<key>utility</key>
				<string>通用</string>
				<key>laws</key>
				<string>律法</string>
				<key>conviction</key>
				<string>定罪</string>
			</dict>
			<key>resource</key>
			<array>
				<string>愤怒</string>
			</array>
		</dict>
		<key>demon-hunter</key>
		<dict>
			<key>name</key>
			<string>猎魔人</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>主要</string>
				<key>secondary</key>
				<string>次要</string>
				<key>defensive</key>
				<string>防御</string>
				<key>archery</key>
				<string>射术</string>
				<key>hunting</key>
				<string>猎杀</string>
				<key>devices</key>
				<string>器械</string>
			</dict>
			<key>resource</key>
			<array>
				<string>憎恨</string>
				<string>戒律</string>
			</array>
		</dict>
		<key>monk</key>
		<dict>
			<key>name</key>
			<string>武僧</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>主要</string>
				<key>secondary</key>
				<string>次要</string>
				<key>defensive</key>
				<string>防御</string>
				<key>techniques</key>
				<string>体术</string>
				<key>focus</key>
				<string>禅想</string>
				<key>mantras</key>
				<string>真言</string>
			</dict>
			<key>resource</key>
			<array>
				<string>内力</string>
			</array>
		</dict>
		<key>witch-doctor</key>
		<dict>
			<key>name</key>
			<string>巫医</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>主要</string>
				<key>secondary</key>
				<string>次要</string>
				<key>defensive</key>
				<string>防御</string>
				<key>terror</key>
				<string>恐惧</string>
				<key>decay</key>
				<string>凋零</string>
				<key>voodoo</key>
				<string>巫毒</string>
			</dict>
			<key>resource</key>
			<array>
				<string>法力</string>
			</array>
		</dict>
		<key>wizard</key>
		<dict>
			<key>name</key>
			<string>魔法师</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>主要</string>
				<key>secondary</key>
				<string>次要</string>
				<key>defensive</key>
				<string>防御</string>
				<key>force</key>
				<string>原力</string>
				<key>conjuration</key>
				<string>护体</string>
				<key>mastery</key>
				<string>驾驭</string>
			</dict>
			<key>resource</key>
			<array>
				<string>奥能</string>
			</array>
		</dict>
	</dict>
	<key>stats</key>
	<dict>
		<key>life</key>
		<string>生命值</string>
		<key>damage</key>
		<string>伤害</string>
		<key>toughness</key>
		<string>坚韧</string>
		<key>healing</key>
		<string>恢复</string>
		<key>attachSpeed</key>
		<string>攻击速度</string>
		<key>armor</key>
		<string>护甲值</string>
		<key>strength</key>
		<string>力量</string>
		<key>dexterity</key>
		<string>敏捷</string>
		<key>vitality</key>
		<string>体能</string>
		<key>intelligence</key>
		<string>智力</string>
		<key>physicalResist</key>
		<string>物理抗性</string>
		<key>fireResist</key>
		<string>火焰抗性</string>
		<key>coldResist</key>
		<string>冰霜抗性</string>
		<key>lightningResist</key>
		<string>闪电抗性</string>
		<key>poisonResist</key>
		<string>毒性抗性</string>
		<key>arcaneResist</key>
		<string>奥术抗性</string>
		<key>critDamage</key>
		<string>Critical Hit Damage</string>
		<key>blockChance</key>
		<string>Chance to Block</string>
		<key>blockAmountMin</key>
		<string>Minmum Block Amount</string>
		<key>blockAmountMax</key>
		<string>Maximum Block Amount</string>
		<key>damageIncrease</key>
		<string>Damage Increase</string>
		<key>critChance</key>
		<string>Critical Hit Chance</string>
		<key>damageReduction</key>
		<string>Damage Reduction</string>
		<key>thorns</key>
		<string>Damage of Thorns</string>
		<key>lifeSteal</key>
		<string>Life Steal</string>
		<key>lifePerKill</key>
		<string>Life after Each Kill</string>
		<key>goldFind</key>
		<string>Gold Find Rate</string>
		<key>magicFind</key>
		<string>Magic Item Find Rate</string>
		<key>lifeOnHit</key>
		<string>Life on Hit</string>
		<key>primaryResource</key>
		<string>主要能量</string>
		<key>secondaryResource</key>
		<string>次要能量</string>
	</dict>
	<key>attuributesTitle</key>
	<string>属性</string>
	<key>statsTitle</key>
	<string>概要</string>
	<key>activeSkillsTitle</key>
	<string>主动技能</string>
	<key>passiveSkillsTitle</key>
	<string>被动技能</string>
</dict>
</plist>
