<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>class</key>
	<dict>
		<key>barbarian</key>
		<dict>
			<key>name</key>
			<string>Bárbaro</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primária</string>
				<key>secondary</key>
				<string>Secundária</string>
				<key>defensive</key>
				<string>Defensiva</string>
				<key>might</key>
				<string>Poder</string>
				<key>tactics</key>
				<string>Táticas</string>
				<key>rage</key>
				<string>Raiva</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Fúria</string>
			</array>
		</dict>
		<key>crusader</key>
		<dict>
			<key>name</key>
			<string>Cruzado</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primária</string>
				<key>secondary</key>
				<string>Secundária</string>
				<key>defensive</key>
				<string>Defensiva</string>
				<key>utility</key>
				<string>Utilidade</string>
				<key>laws</key>
				<string>Leis</string>
				<key>conviction</key>
				<string>Convicção</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Ira</string>
			</array>
		</dict>
		<key>demon-hunter</key>
		<dict>
			<key>name</key>
			<string>Caçadora de Demônios</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primária</string>
				<key>secondary</key>
				<string>Secundária</string>
				<key>defensive</key>
				<string>Defensiva</string>
				<key>archery</key>
				<string>Arco e Flecha</string>
				<key>hunting</key>
				<string>Caça</string>
				<key>devices</key>
				<string>Dispositivo</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Ódio</string>
				<string>Disciplina</string>
			</array>
		</dict>
		<key>monk</key>
		<dict>
			<key>name</key>
			<string>Monge</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primária</string>
				<key>secondary</key>
				<string>Secundária</string>
				<key>defensive</key>
				<string>Defensiva</string>
				<key>techniques</key>
				<string>Técnicas</string>
				<key>focus</key>
				<string>Foco</string>
				<key>mantras</key>
				<string>Mantras</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Espírito</string>
			</array>
		</dict>
		<key>witch-doctor</key>
		<dict>
			<key>name</key>
			<string>Feiticeiro</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primária</string>
				<key>secondary</key>
				<string>Secundária</string>
				<key>defensive</key>
				<string>Defensiva</string>
				<key>terror</key>
				<string>Terror</string>
				<key>decay</key>
				<string>Decomposição</string>
				<key>voodoo</key>
				<string>Vodu</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Mana</string>
			</array>
		</dict>
		<key>wizard</key>
		<dict>
			<key>name</key>
			<string>Arcanista</string>
			<key>skillCategory</key>
			<dict>
				<key>primary</key>
				<string>Primária</string>
				<key>secondary</key>
				<string>Secundária</string>
				<key>defensive</key>
				<string>Defensiva</string>
				<key>force</key>
				<string>Força</string>
				<key>conjuration</key>
				<string>Conjuração</string>
				<key>mastery</key>
				<string>Maestria</string>
			</dict>
			<key>resource</key>
			<array>
				<string>Poder Arcano</string>
			</array>
		</dict>
	</dict>
	<key>stats</key>
	<dict>
		<key>life</key>
		<string>Vida</string>
		<key>damage</key>
		<string>Dano</string>
		<key>toughness</key>
		<string>Robustez</string>
		<key>healing</key>
		<string>Recuperação</string>
		<key>attachSpeed</key>
		<string>Attacks per Second</string>
		<key>armor</key>
		<string>Armor</string>
		<key>strength</key>
		<string>Força</string>
		<key>dexterity</key>
		<string>Destreza</string>
		<key>vitality</key>
		<string>Vitalidade</string>
		<key>intelligence</key>
		<string>Inteligência</string>
		<key>physicalResist</key>
		<string>Physical Resistance</string>
		<key>fireResist</key>
		<string>Fire Resistance</string>
		<key>coldResist</key>
		<string>Cold Resistance</string>
		<key>lightningResist</key>
		<string>Lightning Resistance</string>
		<key>poisonResist</key>
		<string>Poison Resistance</string>
		<key>arcaneResist</key>
		<string>Arcane Resistance</string>
		<key>critDamage</key>
		<string>Critical Hit Damage</string>
		<key>blockChance</key>
		<string>Chance to Block</string>
		<key>blockAmountMin</key>
		<string>Minmum Block Amount</string>
		<key>blockAmountMax</key>
		<string>Maximum Block Amount</string>
		<key>damageIncrease</key>
		<string>Damage Increase</string>
		<key>critChance</key>
		<string>Critical Hit Chance</string>
		<key>damageReduction</key>
		<string>Damage Reduction</string>
		<key>thorns</key>
		<string>Damage of Thorns</string>
		<key>lifeSteal</key>
		<string>Life Steal</string>
		<key>lifePerKill</key>
		<string>Life after Each Kill</string>
		<key>goldFind</key>
		<string>Gold Find Rate</string>
		<key>magicFind</key>
		<string>Magic Item Find Rate</string>
		<key>lifeOnHit</key>
		<string>Life on Hit</string>
		<key>primaryResource</key>
		<string>Primária Resource</string>
		<key>secondaryResource</key>
		<string>Secundária Resource</string>
	</dict>
	<key>attributesTitle</key>
	<string>Atributos</string>
	<key>statsTitle</key>
	<string>Atributos</string>
	<key>activeSkillsTitle</key>
	<string>Habilidades Ativas</string>
	<key>passiveSkillsTitle</key>
	<string>Habilidades passivas</string>
</dict>
</plist>
